@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pompiere&family=Rubik:wght@300&display=swap');

body {
    padding: 10px;
}

#title {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-align: center;
    margin: 20px;
}

#goldline {
    content: URL("https://raw.githubusercontent.com/szaccagni/images/main/Divider2_Small.png");
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkbar {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width:90%;
    padding:5px;
}

.linkbar .mynav {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    padding:10px;
    width: 25%;
}

.linkbar .mynav:hover {
    background-image: URL("https://raw.githubusercontent.com/szaccagni/images/main/Hover_Image_Small.png");
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}

.me {
    display: flex;
    background-color: rgba(192,192,192,.26);
    margin: 20px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;}

.aboutme {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    padding: 30px 20px 30px 55px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.me img {
    width:30%;
    padding: 30px 55px 30px 20px;
}

.me_img_small {
    display: none;
}


.aboutme .contact {
    bottom:30px;
}

.travel_img_entire {
    font-family: 'Amatic SC', cursive;
    background-color: rgba(192,192,192,.26);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.travel_img_entire img {
    width: 70%;
}

.carousel {
    display: flex;
}

.carousel-prev {
    cursor: pointer;
    margin: auto;
    margin-right:0;
    /* width: 30px;
    content: URL( "https://raw.githubusercontent.com/szaccagni/images/main/previous.png"); */
    width: 60px;
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/previous_arrow.png');
}

.carousel-prev:hover {
    /* content:URL("https://raw.githubusercontent.com/szaccagni/images/main/previous_hover2.png") */
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/previous_arrow_hover.png');
}

.carousel_img_container {
    margin-top:15px;
    margin-bottom: 15px;
    width:75%;
}

.carousel-item {
    display:none;
}

.carousel-active {
    display: block;
}

.carousel-next {
    cursor: pointer;
    margin: auto;
    margin-left:0;
    /* width: 30px; */
    /* content: URL('https://raw.githubusercontent.com/szaccagni/images/main/nextw.png'); */
    width: 60px;
    content: URL('https://github.com/szaccagni/images/blob/main/next_arrow.png?raw=true');
}

.carousel-next:hover {
    /* content: URL('https://raw.githubusercontent.com/szaccagni/images/main/next_hover2.png'); */
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/next_arrow_hover.png');
}

.travel_caption {
    font-size: 25px;
    text-align: right;
    margin-right: 220px;
    padding-bottom: 15px;
}

.art_entire {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.art_entire img{
    width: 70%;
}

@media only screen and (max-width: 1100px) {
    .me {
        display: block;
        width: 80%;
    }
    .me img {
        display:none;
    }
    .me_img_small {
        display: block;
    }

  }