@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rubik:wght@300&display=swap');

body {
    padding: 10px;
}

#title {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    text-align: center;
    margin: 20px;
}

#goldline {
    content: URL("https://raw.githubusercontent.com/szaccagni/images/main/Divider2_Small.png");
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkbar {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    width:90%;
    padding:5px;
}

.linkbar .mynav {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    padding:10px;
    width: 25%;
}

.linkbar .mynav:hover {
    background-image: URL("https://raw.githubusercontent.com/szaccagni/images/main/Hover_Image_Small.png");
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}

.aboutme {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.travel_img {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.travel_img tr {
    border: 1px solid;
    padding: 10px;
}

.travel_img img {
    width: 80%;
}

.travel_img .col1 {
    width: 30%;
}
x
.travel_img .col2 {
    width: 70%;
}

.carousel {
    display: flex;
}

.carousel-item {
    display:none;
}

.carousel-active {
    display: block;
}

#carousel-prev {
    cursor: pointer;
    margin: auto;
}

#carousel-next {
    cursor: pointer;
    margin: auto;
}