@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Pompiere&family=Rubik:wght@300&display=swap');

html {
    font-size:16px;
}

body {
    padding: 0.625rem;
}

#title {
    font-family: 'Amatic SC', cursive;
    font-size: 4.375rem;
    text-align: center;
    margin: 1.25rem;
}

#goldline {
    content: URL("https://raw.githubusercontent.com/szaccagni/images/main/Divider2_Small.png");
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkbar {
    margin-left: auto;
    margin-right: auto;
    width:90%;
    padding:0.3125rem;
}

.linkbar .mynav {
    font-family: 'Amatic SC', cursive;
    font-size: 1.875rem;
    border-radius: 0.75rem;
    padding:0.625rem;
}

.linkbar .mynav:hover {
    background-image: URL("https://raw.githubusercontent.com/szaccagni/images/main/Hover_Image_Small.png");
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}

.me {
    display: flex;
    background-color: rgba(192,192,192,.26);
    margin-top:3.125rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.aboutme {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    padding: 1.875rem 1.25rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#me_img {
    width:30%;
    padding: 1.875rem 3.4375rem 1.875rem 1.25rem;
}

.me_img_small {
    display: none;
}

.aboutme .contact {
    bottom:1.875rem;
}

.travel_img_entire {
    font-family: 'Amatic SC', cursive;
    background-color: rgba(192,192,192,.26);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3.125rem;
}

.travel_img_entire img {
    width: 70%;
}

.carousel {
    display: flex;
}

.carousel-prev {
    cursor: pointer;
    margin: auto;
    margin-right:0;
    width: 3.75rem;
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/previous_arrow.png');
}

.carousel-prev:hover {
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/previous_arrow_hover.png');
}

.carousel_img_container {
    margin-top:1rem;
    margin-bottom:1rem;
    width:75%;
}

.carousel-item {
    display:none;
}

.carousel-active {
    display: block;
}

.carousel-next {
    cursor: pointer;
    margin: auto;
    margin-left:0;
    width: 3.75rem;
    content: URL('https://github.com/szaccagni/images/blob/main/next_arrow.png?raw=true');
}

.carousel-next:hover {
    content: URL('https://raw.githubusercontent.com/szaccagni/images/main/next_arrow_hover.png');
}

.travel_caption {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

.art_entire {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.art_entire img{
    width: 70%;
}

.dev_container{
    width: 80%;
    margin: 3.125rem auto auto auto;
}
.dev_item {
    background-color: rgba(192,192,192,.26);
    width: 80%;
    margin: 1rem auto auto auto;
    padding: 1.875rem;
    font-family: 'Rubik', sans-serif;
}

.resume {
    height:auto;
    margin: 3.125rem    auto auto auto;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .me {
        display: block;
        margin-top:3.125rem;
        margin-left: auto;
        margin-right: auto;
        width: 60%;  
    }
    #me_img {
        display:none;
    }
    .me_img_small {
        display: block;
        text-align: center;
        padding-top: 1.875rem;
    }
    .me_img_small img {
        width: 40%;
    }
    .art_entire img {
        width:90%;
    }
    .travel_img_entire {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .travel_img_entire img {
        width: 90%;
    }
}


@media only screen and (max-width: 630px) {
    
    html {
        font-size:12px
    }

    body {
        padding:0;
    }
    .linkbar .mynav:hover {
        background-image: none;
    }
    .me {
        margin:1.5rem;
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }
    .me_img_small img {
        width: 55%;
    }
    .aboutme {
        padding-left:0;
        padding-right:0;
        margin:0 3rem;
        font-size:larger;
    }
    .carousel-prev {
        width: 3rem;
    }
    .carousel-next {
        width: 3rem;
    }
    .carousel-next:hover {
        content: URL('https://github.com/szaccagni/images/blob/main/next_arrow.png?raw=true');  
    }
    .carousel-prev:hover {
        content: URL('https://raw.githubusercontent.com/szaccagni/images/main/previous_arrow.png');
    }
}


@media only screen and (max-width: 360px) {
    html {
        font-size: 6px;
    }
    .travel_img_entire {
        margin-right:0px;
        margin-left:0px;
        width:100%;
    }
}

@media only screen and (max-width: 200px) {
    .title {
        font-size: 3rem;
    }
    
    .linkbar {
        font-size: 1.3rem;
    }

    .aboutme {
        font-size:1rem;
    }
}

@media only screen and (max-width: 200px) {
    html {
        font-size: 6px;
    }
}