* {
    box-sizing: border-box;
}

HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    --bg-color:rgb(66, 81, 44);
    background-color : var(--bg-color);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    min-height: 3vw;
}

/* mobile header */

.header-mobile {
    display: none;
    width: 100%;
}

.header-mobile-top {
    display: flex;
    height: 3rem;
    align-items: center;
}

.header-mobile-left {
    width: 50%;
}

.header-mobile-right {
    width: 50%;
    justify-content: flex-end;
    display: inline-flex;
}

.header-mobile-bottom {
    display:none;
    padding: 3vw 0;
    opacity: 0;
    transition: .6s ease opacity;

}

.mobile-nav-item {
    margin:2vw;
}

/* hamburger icon */
.hamburger { 
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
    cursor: pointer;
}

.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

/* deskstop header */

.header a {
    text-decoration: none;
    color: white;
}

.header-wrapper {
    width: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.header-desktop {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 3rem;
}

.header-nav-left {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 67%;
    height: inherit;
    align-items: center;
}

.header-nav {
    width: 33%;
    flex: 1 1 33%;
}

.header-nav-list {
    display: inline-flex;
}

.header-nav-item {
    display: block;
    font-size: calc((1.2 - 1) * 1.2vw + 1rem);
}

.header-nav-item:not(:last-child) {
    margin-right: 1.3vw;
}

.header-title {
    width: 34%;
    text-align: center;
    flex: 1 1 34%;
}

.header-title, .header-mobile-title a {
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    font-weight: 300;
}

.header-nav-list-right { 
    width: 33%;
    justify-content: flex-end;
    display: inline-flex;
    height: inherit;
}

.header-nav-list-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 1.6rem;
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    font-weight: 300;
    color: var(--bg-color);
}

.header-nav-list-right a:hover {
    background-color: #c6c3c3;
} 

/* content */

.section_container {
    margin: 0 15vw;
}

.section1 {
    width: 100%;
}

.section1_content {
    padding: 2.70rem 0;
}

.section1_content h1 {
    text-align: justify;
    font-weight: 350;
    color: white;
    font-size: calc((4 - 1) * 1.2vw + 1rem);
}

.section1_content a {
    text-decoration: none;
}

.section2 {
    width: 100%;
}

.section2 h3 {
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}

.section2_row {
    display: flex;
}

.section2_header {
    width: 45%;
}

.section2_header a {
    color: white;
}

.section2_content {
    width: 55%;
}

.section3 {
    color:white;
}

.section3_content {
    display:flex;
    align-items: center;
}

.section3_content h1 {
    font-weight: 350;
}

.line {
    flex: 1;
    height: 2px;  
    background-color: white;
    margin-left: 1rem;
}

.section3:not(:first-child) {
    padding-top: 2.70rem;
}

/* mobile */

@media only screen and (max-width: 800px) {
    
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display:block;
    }

    .header-wrapper {
        padding: 5vw 6vw;
    }

    .section_container {
        margin: 0 6vw;
    }

    .section1_content {
        padding: 2.5vw 0;
    }

    .section2_row {
        display: block;
    }

    .section2_header, .section2_content {
        width: 100%;
    }

    .section2.home:not(:first-child) {
        padding-top: 2.5vw;
    }

    .section2.exp:not(:first-child) {
        padding-top: 1.25vw;
    }
}

